.contentcontainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.texthalf{
    width: 800px;
    min-height: 40vh;
    margin-top: 30px;
    text-align: left;
    border-radius: 15px;
}
.imagehalf{
    display:flex;
    flex-wrap:wrap;
    width: 800px;
    min-height: 40vh;
    margin-top: 30px;
}
.aboutustitle{
    padding-top: 50px;
    color: rgb(48,110,186);
    font-family:Impact;
    font-size:40px;
    background-color: rgb(195, 207, 221);
    text-align: center;
    
}
.bgimg{
    padding-bottom:5px;
}

u{
    text-underline-offset: 5px;
}
@media(max-width:1632px){
    /* .bgimg{
        height:300px;
    } */
}
@media(max-width:830px){
    .bgimg{
        height:300px;
    }
    .texthalf{
        font-size: 25px;
    }
}