body{
    box-sizing:border-box;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.burgerNavbar, .navbar{
    display:flex;
    position:relative;
    justify-content: center;
    list-style-type: none;
    background-color: rgb(195, 207, 221);
    margin:0;
    padding:0;
    top:0;
    position: -webkit-sticky;
    position: sticky;
    z-index: 1; /* this keeps the navbar pinned to top*/
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
    height:60px;
    align-items: flex-end;
   
}

.logoimg{
    height:50px;
    width:50px;
    position:absolute;
    left:10px;
    bottom:0px;
    margin-top: 5px;
    margin-left:10px;
    margin-bottom:5px;
}
 
.title{
    display:flex;
    justify-content: center;
    font-family:Impact;
    font-size:40px;
    background-color: rgb(195, 207, 221);
    color: rgb(48,110,186);
    margin:0; 
    padding-left:10px;
    font-weight:normal;
}
.greentxt{
    color:rgb(78, 174, 91);
}
a{
    float:left;
    padding:10px;
    font-size:25px;
    color: rgb(48,110,186);
    text-decoration: none;
    
}

.footer{
    position:relative;
    width:100%;
    height:150px;
    background-color: rgb(48,110,186);
}
.footlist{
    display:flex;
    flex-wrap: wrap;
    position:absolute;
    top:40%;
    left:50%;
    width:90%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content: center;
    list-style-type:none;

}

.footlist > li > a {
    color: rgb(195, 207, 221);
    font-size:20px;
}
.footlist >li >a:hover {
    color: rgba(255, 255, 255, 0.5);
}
.video{
    width:560px;
}
.cardcontainer{
    box-sizing: border-box;
    display:inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width:100%;
    padding-top: 50px;
    padding-bottom:50px;
    background-color: rgb(195, 207, 221);
}
.card{
    
    position:relative;
    flex:70%;
    margin-bottom:10px;
    max-width: 425px;
    min-height:300px;
    background-color: rgb(77,141,169);
    width: 15vw;
    height: 60vh;
    border-radius: 10px;
    text-align: left;
    box-shadow: 8px 8px 8px 0 rgba(0,0,0,0.2);
}
.card:hover{
    box-shadow: 8px 8px 8px 0px rgba(0,0,0,0.4);
}
.cardimg{
    width:100%;
    height:50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.cardtxt{
    color: rgb(195, 207, 221);
    font-size:25px;
    padding:20px;
}
.dropdownItem {
    display: none;
    position: absolute;
    bottom:-200px;
    background-color: rgb(195, 207, 221);
    min-width: 160px;
    height:200px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index:1;
}
.dropdownItem a{  
    font-size: 15px;
    padding: 12px;
    text-decoration: none;
   
}
.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown:hover .dropdownItem{
    display:block;
}

.burgerNavbar{
    display:none;
}

.burgerMenu{
    position:relative;
    display:inline-block;
}
.burgerMenu:hover .burgerDropDownItem{
   display:block;
}

.burgerDropDownItem{
    display: none;
    position: absolute;
    bottom:-924px;
    background-color: rgb(195, 207, 221);
    min-width: 160px;
    height:950px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
    z-index:1;
}


.cardlink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.video{
    border:none;
    
}


@media(max-width:1300px){
    .card{
        margin-bottom: 30px;
    }
} 
@media(max-width:864px){ /*For Cards*/
    .card{
        margin-bottom:10px;
    }
    .cardcontainer{
        padding-top: 50px;
        padding-bottom: 50px;
    }
} 
@media(max-width:1000px){
    a{
        font-size: 20px;
    }
    
} 
@media(max-width:850px){
    .navbar{
        display:none;
    }
    .burgerNavbar{
        display:block;
        height:40px;
    }
    .logoimg{
       left:0px;
       top:0px;
       height:30px;
       width:30px;
    }
    .title{
        font-size: 38px;
    }
   
} 
@media(max-width:700px){
   
  
    .video{
        width:420px;
    }
} 